<!DOCTYPE html>
<html lang="en">

<head>
  <title>Demo Marlon</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Montserrat', sans-serif;
    }

    .table {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div class="container" id="app">
    <div class="row">
      <div class="col-12">
        <header class="text-center">
          <h1>Tabelas API</h1>
        </header>
        
        <input type="text" placeholder="Classe do botão" v-model="classeBotao"/>

        <button class="btn btn-primary" @click="carregarApi">Carregar Dados</button>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="marca in marcas">
              <td>{{marca.id}}</td>
              <td>{{marca.fipe_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    const urlApi = 'https://fipeapi.appspot.com/api/1/carros/marcas.json'
    const app = new Vue({
      el: '#app',
      data: {
        marcas: [],
        classeBotao: 'primary'
      },
      computed: {
        classFinal: {
          get () {
            return ''
          },
          set (value) {
            
          }
        }
        classFinal () {
          return `btn btn-${app.classeBotao}`
        }
      },
      methods: {
        async carregarApi () {
          app.marcas = await fetch(urlApi).then(res => res.json())
        }
      },
      mounted () {
        console.log(this)
      }
    })
  </script>
</body>

</html>